@{
    ViewData["Title"] = "About Us Page";
}

@model ProductsListViewModel


<header style="background-color: #E74F65" class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder font-color-white">
                About
            </h1>
        </div>
    </div>
</header>

<div class="row custom-row justify-content-start">
    <div class="col-md-6 custom-col left-col">
        <div class="card h-100 border-0">
            <img src="your-image-url.jpg" class="card-img-top" alt="Image">
            <div class="card-body">
                <h5 class="card-title">Aurora Brickwall</h5>
                <h8>AuroraBricks Owner</h8>
            </div>
        </div>
    </div>
    <div class="col-md-6 custom-col right-col">
        <div class="card h-100 border-0">
            <div class="card-body">
                <p class="card-text">
                    Welcome to our world of creativity and imagination!

                    We are passionate about LEGO and strive to bring joy to LEGO enthusiasts of all ages.

                    Our Mission
                    Our mission is to inspire creativity and imagination through the unique LEGO kits that we sell! We aim to provide high-quality, innovative sets that spark joy and foster a sense of accomplishment in building.

                    Contribution to Society
                    We believe in giving back to the community. A portion of our proceeds goes towards supporting educational programs that
                    promote STEM (Science, Technology, Engineering, and Mathematics) learning through play. We also donate LEGO sets to
                    children in need, helping to brighten their day and encourage creativity.

                    Background of the Owner
                    Our owner, Aurora, is a renowned LEGO influencer with a passion for building and creating. With years of experience in the
                    LEGO community, Aurora has garnered a loyal following for their innovative designs and engaging content. She is excited to share the love of LEGO that she has with you!

                    Thank you for being a part of our journey. We look forward to building and creating with you!
                </p>
            </div>
        </div>
    </div>
</div>


@*pics of her, mission statement, contributions to society/adulthood/childhood, socials information*@
