@{
    ViewData["Title"] = "About Us Page";
}

@model ProductsListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Path to your layout file
}

<header style="background-color: #E74F65" class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder font-color-white text-center">
                About
            </h1>
        </div>
    </div>
</header>
<br /><br />
<style>
    .container {
        display: flex;
        align-items: center;
    }

    .image {
        max-width: 50%;
        margin-right: 20px;
    }
</style>
<body>
    <div class="container">
        <img src="~/img/screenshot_2024-04-08_at_2.30.25_pm_720.png" alt="Aurora Brickwell" class="image">
        <div>
            <h3>Aurora Brickwell, owner</h3>
            <h5>Welcome to our world of creativity and imagination!</h5>
            <h7>
                We are passionate about LEGO and strive to bring joy to LEGO enthusiasts of all ages.
            </h7>
            <br/><br />
            <h5>Our Mission</h5>
            <p>Our mission is to inspire creativity and imagination through the unique LEGO kits that we sell! We aim to provide high-quality, innovative sets that spark joy and foster a sense of accomplishment in building.</p>
            <br /><br />
            <h5>Contribution to Society</h5>
            <p>
                We believe in giving back to the community. A portion of our proceeds goes towards supporting educational programs that
                promote STEM (Science, Technology, Engineering, and Mathematics) learning through play. We also donate LEGO sets to
                children in need, helping to brighten their day and encourage creativity.
            </p>
            <br /><br />
            <h5>Background of the Owner</h5>
            <p>
                Our owner, Aurora, is a renowned LEGO influencer with a passion for building and creating. With years of experience in the
                LEGO community, Aurora has garnered a loyal following for their innovative designs and engaging content. She is excited to share the love of LEGO that she has with you!
            </p>
            <br />
            <p>Thank you for being a part of our journey. We look forward to building and creating with you!</p>
        </div>
    </div>
</body>


@*pics of her, mission statement, contributions to society/adulthood/childhood, socials information*@
