@{
    ViewData["Title"] = "About Us Page";
}

@model ProductsListViewModel

<h1>AuroraBricks</h1>

<p>Hi, I'm Aurora and I love legos!</p>

@*pics of her, mission statement, contributions to society/adulthood/childhood, socials information*@

<div page-model="@Model.PaginationInfo" page-action="Index" page-class-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-projectType="@Model.CurrentProductCategory" class="btn-group pull-right m-1"></div>