@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product

<form asp-action="AddProduct" asp-controller="Home" method="post">
    <div asp-validation-summary="All"></div>
    @* Product Name *@
    <input type="hidden" asp-for="product_Id">

    <label asp-for="name">Product Name:</label>
    <input asp-for="name" />
    <br />

    @* Year *@
    <label asp-for="year">Year:</label>
    <input asp-for="year" />
    <br />

    @* Number of Parts *@
    <label asp-for="num_parts">Number of Parts:</label>
    <input asp-for="num_parts" />
    <br />

    @* Price *@
    <label asp-for="price">Price:</label>
    <input asp-for="price" />
    <br />

    @* Image Link *@
    <label asp-for="img_link">Image Link:</label>
    <input asp-for="img_link" />
    <br />

    @* Primary Color *@
    <label asp-for="primary_color">Primary Color:</label>
    <input asp-for="primary_color">
    <br />

    @* Secondary Color *@
    <label asp-for="secondary_color">Secondary Color:</label>
    <input asp-for="secondary_color">
    <br />

    @* Category *@
    <label asp-for="category">Category:</label>
    <input asp-for="category">
    <br />

    @* Description *@
    <label asp-for="description">Description:</label>
    <textarea asp-for="description"></textarea>
    <br />
    <!-- Add other fields for the product properties -->

    <button type="submit">Add Product</button>
</form>
