@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Customer

<div>
    <h3>All Users</h3>
@*     @foreach (Customer o in Model.customer_Id)
    {
        <partial name="ProductSummary" model="p" />
    } *@
</div>