@{
    ViewData["Title"] = "Admin Dashboard";
}

@model Order

<h3>You have delivered 1073 orders!</h3>

<div>
    <h3>All Products</h3>
    @foreach (Order o in Model.Orders)
    {
        <partial name="ProductSummary" model="p" />
    }
</div>


