@{
    ViewData["Title"] = "Admin Dashboard";
}

@model OrdersListViewModel

<h3>You have delivered 1073 orders!</h3>

<div>
    <h3>Unfulfilled Orders</h3>
    @foreach (Order o in Model.Orders)
    {
        <partial name="OrderSummary" model="o" />
    }
</div>


