@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Path to your layout file
}

@model ProductsListViewModel
<div class="container">
    <header style="background-color: #E74F65" class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">
                    <img src="~/img/aurorabricks-4-8-2024_copy_720.png" alt="Home" class="navbar-brand col-lg-7 col-md-12 col-sm-12" width="800" height="200" />
                </h1>
            </div>
        </div>
    </header>
    <br /> <br />
<div class="col-lg-11">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <h3>Top Picks</h3>
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
                @foreach (var p in Model.Products ?? Enumerable.Empty<Product>())
                {
                    <div class="col mb-5">
                        <a href="@Url.Action("Product_Detail", "Home", new { product_Id = p.product_Id, product_name = p.name, image_link = p.img_link, description = p.description, price = p.price})" class="card-link">
                            <div class="card h-100 border-0">
                                <partial name="ProductSummary" model="p" />
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
    @* <div page-model="@Model.PaginationInfo" page-action="Index" page-class-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory!" class="btn-group pull-right m-1"> *@
    </div>
</div>
</div>





