@{
    ViewData["Title"] = "Home Page";
}

@*update to look at whatever product he/she clicks on*@

@model Product


<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
</head>
<body>
    <h1>@Model.name</h1>
    <p>@Model.img_link</p>
    <p>$@Model.price</p>
    <p>@Model.description</p>
    <p><a href="@Url.Action("Index", "Home")">Back to Home</a></p>
</body>
</html>