<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Content-Security-Policy"
					 value="default-src 'self'; 
                    img-src 'self' https: data: https:; 
                    script-src 'self' https://stackpath.bootstrapcdn.com/ 'sha256-m1igTNlg9PL5o60ru2HIIK6OPQet2z9UgiEAhCyg/RU=';
                    style-src https://stackpath.bootstrapcdn.com/ 'self' 'unsafe-inline';
                    connect-src 'self' wss: http://localhost:52827 ws://localhost:52827;"
        />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
