@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmation";
}

<div style="color: white">
    <h1>@ViewData["Title"]</h1>
    <br />
</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />
