@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <head>
        <meta name="viewport" content="width-device-width" />
        <title>AuroraBricks</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Intex2_Bricks.styles.css" asp-append-version="true" />
    </head>

    <body>
        <div class="bg-dark text-white p-2">
            <span class="navbar-brand m-lg-2">AuroraBricks</span>
        </div>
        <div class="m-1 p-1">
            @RenderBody()
        </div>
    </body>
</html>