@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="row">
    <div class="col-md-10">
        <section>
                <div class="card mb-2" style="border-radius: 20px; box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);">
                    <div class="d-flex justify-content-center align-items-center" style="padding-top: 4%">
                        <h2 class="text-center">Personal Data</h2>
                    </div>
                    <div class="card-body">
                        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
                        <p>
                            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                        </p>
                        <form id="download-data" asp-page="DownloadPersonalData" method="post">
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">Download</button>
                            </div>
                        </form>
                        <div class="text-center">
                            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger m-2">Delete</a>
                        </div>
                    </div>
                </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
